
/* Bootstrap */

/* * {
    box-sizing: border-box;
} */

/* body {
    margin: 1rem;
    padding: 1rem;
} */

/* div {
    border: 2px solid #e2e2e2;
    border-radius: 4px;
    margin: 2rem 2rem 0 2rem;
    padding: 1rem 2rem 0 2rem;
} */

/* h4 {
    width: 200px;
    text-align: center;
} */

/* ul {
    list-style: none;
} */

/* Bulma */

@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-top: 2rem;
}

div {
    /* border: 2px solid #e2e2e2; */
    /* border-radius: 5px; */
    padding: 0 2rem 1rem 2rem;
}